* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */

body {
  display: flex;
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
}

/* Sidebar */

.sidebar {
  width: 260px;
  height: 100vh;
  background-color: #111827;
  position: fixed;
  left: 0;
  top: 0;

  padding: 20px;

  border-right: 1px solid #1f2937;
}

/* Logo */

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #facc15;

  margin-bottom: 40px;
}

/* Menu */

.menu {
  list-style: none;
}

.menu li {
  margin-bottom: 15px;
}

/* Menu Links */

.menu a {
  display: flex;
  align-items: center;
  gap: 12px;

  text-decoration: none;
  color: white;

  padding: 14px 16px;

  border-radius: 10px;

  transition: 0.3s;
}

/* Hover Effect */

.menu a:hover {
  background-color: #1e293b;

  transform: translateX(5px);

  color: #facc15;
}

/* Icons */

.menu i {
  font-size: 18px;
}

/* Main Content */

.main-content {
  margin-left: 260px;
  padding: 40px;
  width: 100%;
  animation: slideDown 0.6s ease-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-content h1 {
  font-size: 40px;

  margin-bottom: 10px;
}

/* Subtitle */

.subtitle {
  color: #94a3b8;
  margin-bottom: 30px;
}

/* Cards Container */

.cards {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

  gap: 25px;
}

/* Card */

.card {
  background: linear-gradient(145deg, #1e293b, #0f172a);

  padding: 30px;

  border-radius: 20px;

  transition: 0.3s;

  border: 1px solid #334155;

  position: relative;

  overflow: hidden;
}

/* Hover Effect */

.card:hover {
  transform: translateY(-8px);

  box-shadow: 0 0 25px rgba(250, 204, 21, 0.4);

  border-color: #facc15;
}

/* Icon */

.icon {
  width: 60px;
  height: 60px;

  border-radius: 15px;

  background-color: rgba(250, 204, 21, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
}

.icon i {
  font-size: 28px;

  color: #facc15;
}

/* Numbers */

.card h2 {
  font-size: 42px;

  margin-bottom: 10px;

  color: white;
}

/* Label */

.card p {
  color: #94a3b8;

  font-size: 16px;
}

.count {
  display: inline-block;
  font-size: 42px;
  font-weight: bold;
  color: white;

  opacity: 1;            /* IMPORTANT */
  transform: translateY(0px);
}