body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
}

.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.controls input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.controls button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background: #fbbf24;
  cursor: pointer;
  font-weight: bold;
} 


/* Top 3 Highlighting */
tr.gold td:first-child {
  color: gold;
  text-shadow: 0 0 8px gold;
}

tr.silver td:first-child {
  color: silver;
  text-shadow: 0 0 6px silver;
}

tr.bronze td:first-child {
  color: #cd7f32;
  text-shadow: 0 0 6px #cd7f32;
}


/* Sidebar already loaded externally */
.main-content {
  margin-left: 240px;
  padding: 30px;
  width: 100%;
  animation: slideDown 0.2s ease-out;
}

h1 {
  font-size: 36px;
}

.subtitle {
  color: #94a3b8;
  margin-bottom: 20px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  background: #0b1220;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.35);
  position: relative;
  animation: slideDown 0.8s ease-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

thead th {
  position: sticky;
  top: 0;
  background: linear-gradient(180deg, #111c2e, #0b1220);
  color: #fbbf24;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 16px;
  border-bottom: 1px solid #1f2a3a;
  box-shadow: 0 2px 10px rgba(0,0,0,0.4);
  transition: 0.3s ease;
}

table th:hover{
  letter-spacing: 2px;
}


th, td {
  padding: 14px;
  text-align: center;
}

td:nth-child(2) {
  text-align: left;
  padding-left: 20px;
}


td {
  padding: 14px;
  color: #e5e7eb;
  border-bottom: 1px solid #1f2a3a;
}

tr:hover td {
  background: #111c2e;
} 

tbody tr:nth-child(even) td {
  background: rgba(255,255,255,0.02);
}

.table-container {
  max-height: 70vh;
  overflow-y: auto;
  border-radius: 14px;
  scrollbar-width: thin;
  scrollbar-color: #334155 #0f172a;
}

.table-container::-webkit-scrollbar {
  width: 8px;
}

.table-container::-webkit-scrollbar-track {
  background: #0f172a;
}

.table-container::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

@media (max-width: 768px) {

  .main-content {
    margin-left: 0;
    width: 100%;
    padding: 15px;
  }

  h1 {
    font-size: 24px;
  }

  .subtitle {
    font-size: 14px;
  }

  table {
    font-size: 12px;
    min-width: 600px;
  }

  .table-container {
    overflow-x: auto;
  }

  th, td {
    padding: 10px;
  }

}