<div class="sidebar">

    <div class="logo">
      GM Chess Academy
    </div>

    <ul class="menu">

      <li>
        <a href="dashboard.html">
          <i class="fa-solid fa-house"></i>
          Dashboard
        </a>
      </li>

      <!-- <li>
        <a href="#">
          <i class="fa-solid fa-users"></i>
          Players
        </a>
      </li> -->

      <li>
        <a href="puzzle_race.html">
          <i class="fa-solid fa-puzzle-piece"></i>
          Puzzle Race
        </a>
      </li>

      <!-- <li>
        <a href="#">
          <i class="fa-solid fa-globe"></i>
          Online Tournaments
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa-solid fa-trophy"></i>
          Offline Tournaments
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa-solid fa-calendar"></i>
          Summer Camp
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa-solid fa-chart-line"></i>
          Rankings
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa-solid fa-gear"></i>
          Settings
        </a>
      </li> -->

    </ul>

  </div>